.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  align-content: flex-start;
  height: fit-content;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.khan__buy-link:hover {
  transition: all .5s ease;
  opacity: 0.35;
}